.note-thumb {
  width: 25%;
  height: 20vh;
  overflow: hidden;
  border: 1px solid #000000;
  padding: 0 1%;
  margin: 15px 2%;
  background-color: #fefefe;
}

.thumb-contents {
  width: 90%;
  margin: 0 auto;
  text-overflow: ellipsis;
}

.thumb-contents p {
  overflow: visible;
  white-space: normal;
}

.note-header {
  font-size: 1.8rem;
  border-bottom: 1px solid #bbbabb;
  padding-bottom: 2px;
}

.note-thumb p {
  font-size: 1.6rem;
}
