nav {
  position: fixed;
  max-width: 180px;
  width: 95%;
}

.toolbar {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  max-width: 180px;
  width: 100%;
  padding: 10px 2%;
  background-color: #d2d1d2;
  border: 1px solid #bbbabb;
}

.tool {
  max-width: 180px;
  width: 95%;
}

#nav-logo {
  font-size: 3.2rem;
  color: #414142;
}
