.header-wrapper {
}

.modify {
  text-align: right;
}

.note-wrapper {
  padding: 0 1%;
}

.note-title {
  font-size: 1.8rem;
}

.edit-buttons {
  background-color: inherit;
  text-decoration: underline;
  color: #5b5e61;
  border-style: none;
}

.note-body {
  font-size: 1.6rem;
}
