.App {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  border: 1px solid #bbbabb;
  box-sizing: border-box;
}

button {
  background-color: #23b7bc;
  padding: 10px 5%;
  color: #fbfcfc;
  font-size: 1.6rem;
  font-weight: bold;
  border-style: solid;
  margin: 3%;
}

.section-header {
  font-size: 2.4rem;
  color: #414142;
  font-weight: bold;
  margin-left: 2%;
}

.main-view {
  background-color: #f1f0f1;
  width: 80%;
  /* padding: 5%; */
}

.note-form {
  display: flex;
  flex-direction: column;
}

.alert {
  position: fixed;
  top: 45%;
  left: 45%;
}

.edit,
.add {
  padding: 2%;
  font-size: 1.6rem;
  font-family: Roboto, sans-serif;
}

.text-input {
}
