.App {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  border: 1px solid #bbbabb;
}

button {
  background-color: #23b7bc;
  padding: 10px 5%;
  color: #fbfcfc;
  font-size: 1.6rem;
  font-weight: bold;
  border-style: solid;
  margin: 3%;
}
